<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- <link rel="stylesheet" type="text/css" href="/css/main.css"> -->
		<link rel="stylesheet" href="css/reveal/reveal.css">
		<link rel="stylesheet" href="css/reveal/theme/beige.css">
		<!-- <link href="css/mdi/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" /> -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
	</head>
	<body>
			<div class="reveal">
				<div class="slides">
					<!-- Slide 1 - Greetings!-->
					<!-- <section class="present" data-background-video="https://s3.amazonaws.com/static.slid.es/site/homepage/v1/homepage-video-editor.mp4,https://s3.amazonaws.com/static.slid.es/site/homepage/v1/homepage-video-editor.webm" data-background-video-loop data-background-video-muted> -->
					<section class="present" data-transition="convex">
							<!-- <nav>
							    <ul>
								<li><a href="/">Home</a></li>
								<li><a href="/about">About</a></li>
								<li><a href="/cv">CV</a></li>
								<li><a href="/blog">Blog</a></li>
							    </ul>
							</nav> -->
							<div class="container"> 
							    <div>
								<h2>Greetings, I'm Eugene!</h2>
								<p>Software Developer / Engineer / Positivist / Lifetime learner</p>
							    </div>
							</div>
							<footer>
								<a href="mailto:delossantos.eugene@gmail.com"><i class="material-icons md-18"></i></a>
								<a href="https://github.com/delose" class="roll"><i class="material-icons mdi-github-circle"></i></a>
								<a href="https://www.linkedin.com/in/delose/" class="roll"><i class="material-icons mdi-linkedin-box"></i></a>
								<a href="https://twitter.com/eugenesergio" class="roll"><i class="material-icons mdi-twitter"></i></a>
							</footer>
					</section>

					<!-- Slide 2 - Elevator slides!-->
					<section data-transition="convex">
						<section>
							<p>
								<h3>About</h3>
								<footer>
									<ul>
									   <li>five years of experience in development of web, mobile and big data applications</li>
									   <li>two years of experience in B2B systems integration</li>
									   <li>one year of freelance Android R&D</li>
									</ul>
								</footer>
							</p>
						</section>
						<section>
						   <p>
						       <h3>Tools</h3>
						       <div>most recent: Java, Spring, JavaScript, JQuery, Bootstrap, SQL, Android</div>
						       <div>recent: Hadoop, Spark, Scala, Unix</div>
						       <div>former: TCL/TK, Cadence SKILL, PERL, PostScript</div>
						   </p>
						</section>
					    <!-- <section>Projects</section>-->
					    <section>
						    <p>
						    	<div>
						    		{{ content }}
						    	</div>
						    </p>
					    </section>
					    <!-- <section>
						<p>
							<h3>Profile</h3>
							<div>For more info:</div>
						</p>
						<p>
							<div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="delose"><a class="LI-simple-link" href='https://ph.linkedin.com/in/delose?trk=profile-badge'>Eugene De Los Santos</a></div>                    	
						</p>                    
					    </section>-->
					</section>

					<!-- Slide  3 - Countdown Timer for 2019 -->
					<section data-transition="convex">
						<p>
							<h3>2018 timer says:</h3>
						<p>
						<!-- Display the countdown timer in an element -->
						<p id="timer"></p>
						<!--forked from https://www.w3schools.com/howto/howto_js_countdown.asp -->
						<script>
							// Set the date we're counting down to
							var countDownDate = new Date("Jan 01, 2019 00:00:00").getTime();

							// Update the count down every 1 second
							var x = setInterval(function() {

							  // Get todays date and time
							  var now = new Date().getTime();

							  // Find the distance between now an the count down date
							  var distance = countDownDate - now;

							  // Time calculations for days, hours, minutes and seconds
							  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
							  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
							  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
							  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

							  // Display the result in the element with id="timer"
							  document.getElementById("timer").innerHTML = days + "d " + hours + "h "
							  + minutes + "m " + seconds + "s ";

							  // If the count down is finished, write some text 
							  if (distance < 0) {
							    clearInterval(x);
							    document.getElementById("timer").innerHTML = "EXPIRED";
							  }
							}, 1000);
						</script>
						<h5>Time is short so better get back to the grind!</h5>
					</section>
					<!-- Slide  4 - Esc feature -->
					<section data-transition="convex">
						<h3>You may navigate around the site:</h3>
						<h6>If you're on desktop, press ESC!</h6>
						<h6>If you're on phone, pinch the screen!</h6>
					</section>
					<!-- Slide 5 -->
					<section data-transition="convex">
						<h3>Thanks for dropping by!</h3>
					</section>
				</div> <!-- slides -->
			</div> <!-- reveal -->
		<script src="js/reveal/reveal.js"></script>
		<script>
		   Reveal.initialize();
		</script>
	</body>
</html>
