<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- <link rel="stylesheet" type="text/css" href="/css/main.css"> -->
		<link rel="stylesheet" href="css/reveal/reveal.css">
		<link rel="stylesheet" href="css/reveal/theme/beige.css">
		<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
	</head>
	<body>
		<div class="container">
			<div class="reveal">
				{{ content }}
			</div>
		</div><!-- /.container -->
		<script src="js/reveal/reveal.js"></script>
		<script>
		   Reveal.initialize();
		</script>
	</body>
</html>
